<!DOCTYPE html>
<html>
  <head>
    <title>Librarynew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <h3><%= link_to "Home ", root_path %></h3>
  <h3><%= link_to " New Post", new_book_path %></h3>
  <body>
    <% if user_signed_in? %>
    <div>Signed in as... <%= current_user.email %></div><br><br>
    <table style="width: 80%">
      <tr>
        <td><%= link_to "Sign Out", destroy_user_session_path %></td>
        <th><%= link_to "Profile", edit_user_registration_path %></th><br>
        <th><div><%= image_tag current_user.avatar.url(:thumb) %></div></th>
      </tr>
    </table><br><br>
    <% else %>
    <table style="width: 25%">
      <tr>
        <th><%= link_to "Sign Up", new_user_registration_path %></th>
        <th><%= link_to "Sign in", new_user_session_path %></th>
      </tr>
    </table><br><br>
    <% end %>

    <%= yield %>
  </body>
</html>
